.character{
    border: solid 2px #faf9f9;
    margin : 1rem;
}
.wrapper{
    width : fit-content;
    height: fit-content;
    position : relative;
}
.characterInfo{
    color : rgb(107, 105, 105);
    line-height: .6rem;
}
.id{
    color : rgba(107, 105, 105, .6);
    line-height: .6rem;
}
.bookmarkButton{
    all:unset;
    width : 35px;
    height : 35px;
    position:absolute;
    cursor : pointer;
    right : 15px;
    bottom : 30px;
}
.bookmarkImg{
    width : 35px;
    height : 35px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.bookmarkImg:hover{
    opacity: .5;
}