
.section{
    margin-top: 50px;
    /*TODO: media type에 따라 달라질 것*/
    width : 1600px; 
}

.wrapper {
    display : flex;
    align-items: center;
}

.labelWrapper{
    width : 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
