.wrapper{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.image{
    width : 600px;
    height : 600px;
    border-radius: 50%;
    position:absolute;
    right : 50px;
    top : 50px;
}

.imageBack{
    position:relative;
    width : 700px;
    height : 700px;
    background-color: rgba(113, 169, 206, 0.6);
    border-radius: 50%;
}

.name{
    margin-top: 40px;
    display : flex;
}

.episode{
    line-height: 10px;
}

.alive{
    margin-left: 10px;
    width : 5px;
    height : 5px;
    background-color: rgb(26, 202, 26);
    border-radius: 50%;
}

.dead{
    margin-left: 10px;
    width : 5px;
    height : 5px;
    background-color: rgb(219, 141, 38);
    border-radius: 50%;
}