.character{
    border: solid 2px hsl(0, 9%, 98%);
    margin : 1rem;
    position:relative;
}

.wrapper{
    width : fit-content;
    height: fit-content;
    position : relative;
}

.characterImg{
    cursor : pointer;
}

.characterImg:hover{
    opacity: .8;
}

.characterInfo{
    color : rgb(107, 105, 105);
    line-height: .6rem;
}

.name{
    width : fit-content;
}

.name:hover{
    color : rgb(113, 169, 206);
    cursor:pointer;
}

.id{
    color : rgba(107, 105, 105, .6);
    line-height: .6rem;
}

.bookmarkButton{
    all:unset;
    width : 35px;
    height : 35px;
    position:absolute;
    cursor : pointer;
    right : 15px;
    bottom : 30px;
}

.bookmarkImg{
    width : 35px;
    height : 35px;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.bookmarkImg:hover{
    opacity: .5;
}

.link{
    all:unset;
    position:absolute;
    right : 15px;
    bottom : 15px;
    font-size: small;
    color : rgb(199, 199, 199);
    padding : 6px;
    border-radius: 5px;
    border : 1px solid rgb(199, 199, 199);
    cursor : pointer;
}

.link:hover{
    color :rgb(48, 136, 106);
    border : 1px solid rgb(48, 136, 106);
}

.link:active{
    opacity: .5;
}

.alive{
    width : 5px;
    height : 5px;
    background-color: rgb(26, 202, 26);
    border-radius: 50%;
}

.dead{
    width : 5px;
    height : 5px;
    background-color: rgb(219, 141, 38);
    border-radius: 50%;
}
