.header{
    z-index : 10;
    position : fixed;
    width : 100%;
    top : 0;
    left : 0;
    background-color: rgba(103, 156, 190, 0.5);
    display : flex;
    align-items: center;
}

.checkboxImage{
    all : unset;
    width : 35px;
    height : 35px;
    cursor : pointer;
    margin-left: 1rem;
}

.checkboxLabel{
    color:black;
}
