.header{
    z-index : 10;
    position : fixed;
    width : 100%;
    top : 0;
    left : 0;
    background-color: rgba(103, 156, 190, 0.5);
    display : flex;
    align-items: center;
}
.checkboxImage{
    all : unset;
    width : 35px;
    height : 35px;
    cursor : pointer;
    margin-left: 1rem;
}
.checkboxLabel{
    color:black;
}

.searchBar input{
    border: 0px solid;
    height: 35px;
    width: 180px;
    color: #777676;
    border-radius: 6px;
    margin-right: 5px;
}
input:focus, button:focus{
    outline: none;
}
.searchBar{
    position : absolute;
    right : 0;
}
.searchButton{
    background-color: transparent;
    border-radius: 6px;
    width : 100px;
    margin-right : 10px;
    padding : 8px;
    border : 2px solid white;
}

.searchButton:hover{
    background-color:white;
    border : 2px solid rgba(103, 156, 190, 0.5);    
    transition: all .5s;
}

.searchButton:active{
    background-color: rgba(103, 156, 190, 0.5);
    transition: all .3s;
}
