.wrapper{
    display : flex;
    justify-content: center;
}
.characters{
    display : flex;
    flex-flow : wrap;
    justify-content:left;
    padding : 2rem;
    /*TODO: media type에 따라 달라질 것*/
    width : 1600px; 
    
}
