@import url(//db.onlinewebfonts.com/c/67680f2eb947c5cbd58b40961b4a61e9?family=Apple+SD+Gothic+Neo);
:root{
--breakpoint-mobile : 335px;
--breakpoint-mobile-big : 426px;
--breakpoint-tablet : 768px;
--breakpoint-desktop : 1024px;
}

* {
  box-sizing: border-box;
  font-family: "Apple SD Gothic Neo";
}

.App{
  margin:31px 0 31px 0;
  user-select: none;
}
