@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap');
:root {
  --breakpoint-mobile: 335px;
  --breakpoint-mobile-big: 426px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
.App {
  user-select: none;
}

body {
  /* background-image: url("./assets//images/background.jpg");
  background-size:auto; */
}
